[submodule "aira-express"]
	path = aira-express
	url = https://github.com/ArturoHaru/aira-express.git
	branch = master
[submodule "aira-angular"]
	path = aira-angular
	url = https://github.com/ArturoHaru/aira-angular.git
	branch = master
[submodule "aira-wakeword"]
	path = aira-wakeword
	url = https://github.com/ArturoHaru/aira-wakeword.git
  branch = master
